.App {
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App .btn-format {
  justify-content: flex-end;
  display: flex;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.feedback {
 background-color : #31B0D5;
 color: white;
 padding: 10px 20px;
 border-radius: 4px;
 border-color: #46b8da;
}

#mybutton {
 position: fixed;
 bottom: -4px;
 right: 10px;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

.t2{
  display: block;
  overflow: auto;
  height: 500px;
}
.content {
    width: 600px;
    height: 300px;
    /*border: 4px solid ;*/
    padding: 30px;
    overflow: hidden;
}

.content img {
    margin-right: 15px;
    float: left;
}

p{ word-break: break-all}


.personal-calendar{
  width: 700px;
  height: 300px;
  margin-bottom: 15px;
  display: block;
  overflow: auto;
  margin: 0px auto;
}

.table-center{
  height: 250px;
  text-align: left;
}

.hide-div {
  display: none;
}
